body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.logBox {
  background-image: url('/couple.jpg');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: cover;
  height: 100%;
}

.rankingIcon {
  min-width: 28px;
}

.actionIcon {
  cursor: pointer
}

.popup {
  color: teal;
}

.ui .selection {
  font-size: 11.5px;
  min-width: 6.2em !important;
  margin-top: 1.5px;
}

.react-datepicker__input-container {
  text-align: center;
  font-size: 12px;
}