body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.logBox {
  background-image: url('/couple.jpg');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: cover;
  height: 100%;
}

.rankingIcon {
  min-width: 28px;
}

.actionIcon {
  cursor: pointer
}

.popup {
  color: teal;
}

.ui .selection {
  font-size: 11.5px;
  min-width: 6.2em !important;
  margin-top: 1.5px;
}

.react-datepicker__input-container {
  text-align: center;
  font-size: 12px;
}

.hashtagsTop {
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  width: 70%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.hashItem:hover {
  font-weight: bold;
  font-style: italic;
  text-decoration: line-through;
  cursor: pointer;
}

.dropzone {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  width: 90%;
  height: auto;
  background-color: light-grey;
  border-style: dotted;
  border-width: 1px;
  border-radius: 15px;
}

.textDropzone {
  margin-top: 2em!important;
  text-align: center;
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
}

.contentDropzone  {
  justify-content: center;
  border-radius: 30px;
  min-height: 150px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.active-dropzone {
  background-color: green;
  border-style: solid;
  border-radius: 30px;
}

.pictureIcon {
  position: absolute;
  z-index: 2
}
